*{
    padding: 0;
    margin: 0;
    
}

/* header */

.firstName{
    font-family: 'Roboto', sans-serif;
    font-family: 'Shojumaru', cursive;
    color:#FFF500;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    
    
}

.name{
    font-family: 'Roboto', sans-serif;
    font-family: 'Shojumaru', cursive;
    color: #FF0202;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}



/* skills */
.skills .card{
    background-color: rgb(26, 26, 26);
    background: linear-gradient(0.25turn, #020202, #4d4d4d, #0f0f0f);
}



/* media queries firstname et name header */

@media (max-width : 426px ) {
    .firstName{
        font-size : 1rem;
    }

    .name{
        font-size : 1rem;
    } 

    
}

